# Node dependencies
/node_modules/

# Yarn PnP files
/.pnp
.pnp.js

# Next.js build & export
/.next/
/out/

/build

# Vercel
.vercel/

# Environment files
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
/coverage

# macOS
.DS_Store

# SSL certs
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

/generated/prisma
